-#=================================================================================
-#===================================== DISEÑO ======================================
-#=================================================================================
-nombresTabla = "Joel Harim"
-apellidosTabla = "Hernández Javier"
-divName = nombresTabla.split(/ /)
-divAp = apellidosTabla.split(/ /)
-nombreCompleto = nombresTabla + " " + apellidosTabla
-nombreCorto = divName[0] + " " + divAp[0]
-tipoUser = "Administrador"
-imgPerfil = "../../images/users/user01.jpg"
-imgCover = "../../images/covers/admin-cover.jpg"

-menuLateral=[{title:"Inicio", link:"index.html", icon:"home"}, {title:"Base de Datos", link:"base.html", icon:"storage"},{title:"Publicaciones",link:"publications.html", icon:"account_circle"},{title:"Agregar",link:"new.html", icon:"add"},]
-notificationes=[{title:"Comunicado 1", icon:"sms", publicador: "David", desc: "Destacado el 00/00/00"}, {title:"Tarea 1", icon:"description", publicador: "Villena",  desc: "Fecha de entrega el 25/05/17"}, {title:"Comunicado 2", icon:"sms", publicador: "Clemente Cartujano", desc: "Alguna especie de preview o mensaje bastante largo que sí cabe"},{title:"Comunicado 1", icon:"sms", publicador: "David", desc: "Destacado el 00/00/00"}, {title:"Tarea 1", icon:"description", publicador: "Villena",  desc: "Fecha de entrega el 25/05/17"}, {title:"Comunicado 2", icon:"sms", publicador: "Clemente Cartujano", desc: "Alguna especie de preview o mensaje bastante largo que sí cabe"},]
-seccion ="Publicaciones"
-tablas=["Alumnos", "Profesores", "Administrativos", "Grupos"]
!!!5
%html{lang:"es"}
	%header.navegacion-espacio
		-#=========================================
		-#============ Información - METAS ===============
		-#=========================================
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%meta{charset: "UTF-8"}
		%link{rel:"shortcut icon", href: "../../images/favicon.ico"}/
		%meta{name: "theme-color", content: "#303030"}
		%link{rel:"stylesheet", href:"http://fonts.googleapis.com/icon?family=Material+Icons"}/
		%link{rel:"stylesheet", href:"../../css/materialize.css", media: "screen,projection"}/		
		%link{rel: "stylesheet", href:"../../css/gliphy.css"}/
		%title Gliphy Admin
	%body
		-#=========================================
		-#=========== Barra de navegación ================
		-#=========================================
		#nav-user.navbar-fixed
			%nav.negro-flat
				.nav-wrapper
					-#=========================================
					-#============= Botón Menú === ================
					-#=========================================
					.left
						%a#menu-activator.hide-on-large-only.btn-flat.white-bonis{href:"#", data:{activates:"menu-movil"}}
							%i.material-icons menu
					-#=========================================
					-#============= Botón Notificaciones === ================
					-#=========================================
					.left
						%a#notificaciones-activator.btn-flat.white-bonis{href:"#", data:{activates:"notificaciones-menu"}}
							%i.material-icons notifications
					-#=========================================
					-#====== Botón Menú - Opciones usuario ==============
					-#=========================================
					.right
						%a.user-activator.btn-flat.white-bonis.hide-on-small-only.no-upper{href:"#!", data:{activates:"user-menu"}}
							%img.admin-img.left{src:"#{imgPerfil}"}
							%span #{nombreCorto}
						%a.user-activator.btn-flat.white-bonis.hide-on-med-and-up{href:"#!",data:{activates:"user-menu"}}
							%i.material-icons.left apps
							%span OPCIONES
					-#=========================================
					-#============== Toggle Menú =================
					-#=========================================
					.right
						%a#toggleMenu.btn-flat.white-bonis.hide-on-med-and-down.tooltipped.hoverable{href:"#!", data:{position:"bottom", delay:"50", tooltip:"Cambiar vista"}}
							%i.material-icons.center view_stream
					-#=========================================
					-#========== Navegación - menú =================
					-#=========================================
					.col.s8.margincito-left.hide-on-small-only.truncate
						%a.breadcrumb{href:"index.html"} Gliphy Admin
						%a.breadcrumb #{seccion}
		-#=========================================
		-#=========== Opciones de usuario ================
		-#=========================================
		%ul#user-menu.side-nav.blue-grey.darken-4
			%li.userView
				.background
					%img{src:"#{imgCover}"}
				.white-bonis
					%img.circle{src:"#{imgPerfil}"}
					%span.white-text.name #{nombreCorto}
					%span.white-text.email.separado #{tipoUser}
			%li
				%a.white-bonis.waves-effect{href:"profile.html"}
					%i.material-icons.left.white-bonis person
					%span Mi perfil
			%li
				%a.white-bonis.waves-effect{href:"#!"} 
					%i.material-icons.left.white-bonis power_settings_new
					%span Salir
		-#=========================================
		-#========== Menú navegación - Large ==============
		-#=========================================
		%ul#menu-normal.side-nav.fixed.blue-grey.darken-4
			.side-contenedor
				.side-lista
					%br/
					-menuLateral.each do |item|		
						-if item[:title] == "Base de Datos"
							%li
								%ul.collapsible.collapsible-accordion
									%li
										%a#base-datos-list.waves-effect.white-bonis.collapsible-header
											%i.material-icons.left.white-bonis=item[:icon]
											%span=item[:title]
											%i.arrow.material-icons.white-bonis arrow_drop_down
										.collapsible-body
											%ul.blue-grey.darken-3
												-tablas.each do |nombreTabla|
													%li
														%a.waves-effect.white-bonis{href:"#!"}=nombreTabla
						-else
							%li
								%a.waves-effect.white-bonis{href: item[:link]}
									%i.material-icons.left.white-bonis=item[:icon]
									%span=item[:title]
						%br/
				.line-divider
				%li.ayuda-btn
					%a.waves-effect.white-bonis{href:"help.html"}
						%i.material-icons.left.white-bonis error
						%span Ayuda
		-#=========================================
		-#======== Menú navegación - Responsive ============
		-#=========================================
		%ul#menu-movil.side-nav.blue-grey.darken-4
			.side-contenedor
				.side-lista
					%br/
					-menuLateral.each do |item|		
						-if item[:title] == "Base de Datos"
							%li
								%ul.collapsible.collapsible-accordion
									%li
										%a#base-datos-list.waves-effect.white-bonis.collapsible-header
											%i.material-icons.left.white-bonis=item[:icon]
											%span=item[:title]
											%i.arrow.material-icons.white-bonis arrow_drop_down
										.collapsible-body
											%ul.blue-grey.darken-3
												-tablas.each do |nombreTabla|
													%li
														%a.waves-effect.white-bonis{href:"#!"}=nombreTabla
						-else
							%li
								%a.waves-effect.white-bonis{href: item[:link]}
									%i.material-icons.left.white-bonis=item[:icon]
									%span=item[:title]
						%br/
				.line-divider
				%li.ayuda-btn
					%a.waves-effect.white-bonis{href:"help.html"}
						%i.material-icons.left.white-bonis error
						%span Ayuda
		-#=========================================
		-#======== Menú Notificaciones - Responsive ============
		-#=========================================
		%ul#notificaciones-menu.side-nav.blue-grey.darken-3
			.side-contenedor
				%br/
				%li.white-text
					%h6.center-align.upper Notificaciones
				%ul.notificaciones
					-notificationes.each do |item|
						%li 
							%ul.collapsible.collapsible-accordion
								%li
									%a.waves-effect.white-bonis.collapsible-header
										%i.material-icons.left.white-bonis=item[:icon]
										%span.trun=item[:title]
										%label=item[:publicador]
									.collapsible-body
										%ul.blue-grey.darken-1
											.row.no-margin
												.col.s12.no-padding
													.noti.white-text.jus=item[:desc]
												.col.s12.no-padding
													%a.btn-flat.waves-effect.no-margin.orange-text.right Ver más
		-#=================================================================
		-#========================= Contenido - Layout ===========================
		-#=================================================================
		%main.navegacion-espacio


	-#=================================================================
	-#============================= Scripts ===============================
	-#=================================================================

	%script{type:"text/javascript", src:"https://code.jquery.com/jquery-3.1.1.min.js", integrity:"sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin:"anonymous"}
	%script{:type=>"text/javascript", :src=>"../../js/materialize.js"}
	%script{:type=>"text/javascript", :src=>"../../js/gliphy.js"}
