-#=================================================================================
-#===================================== DISEÑO ======================================
-#=================================================================================
-nombresTabla = "Joel Harim"
-apellidosTabla = "Hernández Javier"
-divName = nombresTabla.split(/ /)
-divAp = apellidosTabla.split(/ /)
-nombreCompleto = nombresTabla + " " + apellidosTabla
-nombreCorto = divName[0] + " " + divAp[0]
-tipoUser = "Administrador"
-imgPerfil = "../../images/users/user01.jpg"
-imgCover = "../../images/covers/admin-cover.jpg"

-menuLateral=[{title:"Inicio", link:"index.html", icon:"home"}, {title:"Base de Datos", link:"base.html", icon:"storage"},{title:"Publicaciones",link:"publications.html", icon:"account_circle"},{title:"Agregar",link:"new.html", icon:"add"},]
-notificationes=[{title:"Comunicado 1", icon:"sms", publicador: "David", desc: "Destacado el 00/00/00"}, {title:"Tarea 1", icon:"description", publicador: "Villena",  desc: "Fecha de entrega el 25/05/17"}, {title:"Comunicado 2", icon:"sms", publicador: "Clemente Cartujano", desc: "Alguna especie de preview o mensaje bastante largo que sí cabe"},{title:"Comunicado 1", icon:"sms", publicador: "David", desc: "Destacado el 00/00/00"}, {title:"Tarea 1", icon:"description", publicador: "Villena",  desc: "Fecha de entrega el 25/05/17"}, {title:"Comunicado 2", icon:"sms", publicador: "Clemente Cartujano", desc: "Alguna especie de preview o mensaje bastante largo que sí cabe"},]
-seccion ="Publicaciones"
-tablas=["Alumnos", "Profesores", "Administrativos", "Grupos"]
!!!5
%html{lang:"es"}
	%header.navegacion-espacio
		-#=========================================
		-#============ Información - METAS ===============
		-#=========================================
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
		%meta{charset: "UTF-8"}
		%link{rel:"shortcut icon", href: "../../images/favicon.ico"}/
		%meta{name: "theme-color", content: "#303030"}
		%link{rel:"stylesheet", href:"http://fonts.googleapis.com/icon?family=Material+Icons"}/
		%link{rel:"stylesheet", href:"../../css/materialize.css", media: "screen,projection"}/		
		%link{rel: "stylesheet", href:"../../css/gliphy.css"}/
		%title Gliphy Admin
	%body
		-#=========================================
		-#=========== Barra de navegación ================
		-#=========================================
		#nav-user.navbar-fixed
			%nav.negro-flat
				.nav-wrapper
					-#=========================================
					-#============= Botón Menú === ================
					-#=========================================
					.left
						%a#menu-activator.hide-on-large-only.btn-flat.white-bonis{href:"#", data:{activates:"menu-movil"}}
							%i.material-icons menu
					-#=========================================
					-#============= Botón Notificaciones === ================
					-#=========================================
					.left
						%a#notificaciones-activator.btn-flat.white-bonis{href:"#", data:{activates:"notificaciones-menu"}}
							%i.material-icons notifications
					-#=========================================
					-#====== Botón Menú - Opciones usuario ==============
					-#=========================================
					.right
						%a.user-activator.btn-flat.white-bonis.hide-on-small-only.no-upper{href:"#!", data:{activates:"user-menu"}}
							%img.admin-img.left{src:"#{imgPerfil}"}
							%span #{nombreCorto}
						%a.user-activator.btn-flat.white-bonis.hide-on-med-and-up{href:"#!",data:{activates:"user-menu"}}
							%i.material-icons.left apps
							%span OPCIONES
					-#=========================================
					-#============== Toggle Menú =================
					-#=========================================
					.right
						%a#toggleMenu.btn-flat.white-bonis.hide-on-med-and-down.tooltipped.hoverable{href:"#!", data:{position:"bottom", delay:"50", tooltip:"Cambiar vista"}}
							%i.material-icons.center view_stream
					-#=========================================
					-#========== Navegación - menú =================
					-#=========================================
					.col.s8.margincito-left.hide-on-small-only.truncate
						%a.breadcrumb{href:"index.html"} Gliphy Admin
						%a.breadcrumb #{seccion}
		-#=========================================
		-#=========== Opciones de usuario ================
		-#=========================================
		%ul#user-menu.side-nav.blue-grey.darken-4
			%li.userView
				.background
					%img{src:"#{imgCover}"}
				.white-bonis
					%img.circle{src:"#{imgPerfil}"}
					%span.white-text.name #{nombreCorto}
					%span.white-text.email.separado #{tipoUser}
			%li
				%a.white-bonis.waves-effect{href:"profile.html"}
					%i.material-icons.left.white-bonis person
					%span Mi perfil
			%li
				%a.white-bonis.waves-effect{href:"#!"} 
					%i.material-icons.left.white-bonis power_settings_new
					%span Salir
		-#=========================================
		-#========== Menú navegación - Large ==============
		-#=========================================
		%ul#menu-normal.side-nav.fixed.blue-grey.darken-4
			.side-contenedor
				.side-lista
					%br/
					-menuLateral.each do |item|		
						-if item[:title] == "Base de Datos"
							%li
								%ul.collapsible.collapsible-accordion
									%li
										%a#base-datos-list.waves-effect.white-bonis.collapsible-header
											%i.material-icons.left.white-bonis=item[:icon]
											%span=item[:title]
											%i.arrow.material-icons.white-bonis arrow_drop_down
										.collapsible-body
											%ul.blue-grey.darken-3
												-tablas.each do |nombreTabla|
													%li
														%a.waves-effect.white-bonis{href:"#!"}=nombreTabla
						-else
							%li
								%a.waves-effect.white-bonis{href: item[:link]}
									%i.material-icons.left.white-bonis=item[:icon]
									%span=item[:title]
						%br/
				.line-divider
				%li.ayuda-btn
					%a.waves-effect.white-bonis{href:"help.html"}
						%i.material-icons.left.white-bonis error
						%span Ayuda
		-#=========================================
		-#======== Menú navegación - Responsive ============
		-#=========================================
		%ul#menu-movil.side-nav.blue-grey.darken-4
			.side-contenedor
				.side-lista
					%br/
					-menuLateral.each do |item|		
						-if item[:title] == "Base de Datos"
							%li
								%ul.collapsible.collapsible-accordion
									%li
										%a#base-datos-list.waves-effect.white-bonis.collapsible-header
											%i.material-icons.left.white-bonis=item[:icon]
											%span=item[:title]
											%i.arrow.material-icons.white-bonis arrow_drop_down
										.collapsible-body
											%ul.blue-grey.darken-3
												-tablas.each do |nombreTabla|
													%li
														%a.waves-effect.white-bonis{href:"#!"}=nombreTabla
						-else
							%li
								%a.waves-effect.white-bonis{href: item[:link]}
									%i.material-icons.left.white-bonis=item[:icon]
									%span=item[:title]
						%br/
				.line-divider
				%li.ayuda-btn
					%a.waves-effect.white-bonis{href:"help.html"}
						%i.material-icons.left.white-bonis error
						%span Ayuda
		-#=========================================
		-#======== Menú Notificaciones - Responsive ============
		-#=========================================
		%ul#notificaciones-menu.side-nav.blue-grey.darken-3
			.side-contenedor
				%br/
				%li.white-text
					%h6.center-align.upper Notificaciones
				%ul.notificaciones
					-notificationes.each do |item|
						%li 
							%ul.collapsible.collapsible-accordion
								%li
									%a.waves-effect.white-bonis.collapsible-header
										%i.material-icons.left.white-bonis=item[:icon]
										%span.trun=item[:title]
										%label=item[:publicador]
									.collapsible-body
										%ul.blue-grey.darken-1
											.row.no-margin
												.col.s12.no-padding
													.noti.white-text.jus=item[:desc]
												.col.s12.no-padding
													%a.btn-flat.waves-effect.no-margin.orange-text.right Ver más
		-#=================================================================
		-#========================= Contenido - Layout ===========================
		-#=================================================================
		%main.navegacion-espacio

			-#===============Boton publicar================
			.fixed-action-btn
				%a.btn-floating.btn-large.waves-effect.waves-light.red.tooltipped.hoverable{href:"#mensaje-confirmar", data:{position:"left", delay:"50", tooltip:"Publicar"}}
					%i.material-icons done
			-#===============Mensaje del boton=============
			#mensaje-confirmar.modal
				.modal-content
					%h4 ¿Deseas continuar?
					%p Revise los datos, y asegurese de que son correctos.
					%p.right
						%a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"#"} Volver
						%a.modal-action.modal-close.waves-effect.waves-green.btn{href:"#"} Publicar
			-#===============Principal contenido===========
			.row.new-layout
				-#=========== Sub - header ======================
				%h2.red-text.center-align Nueva Publicación
				%blockquote Este seria un mensaje solo se muestra cuando es necesario
				-#==========Filtros para la publicacion====
				.col.s12.l5
					%h4.truncate.center-align Filtros
					%p Seleccione las opciones que desee y necesite para la publicación de un nuevo comunicado.
					%nav.nav-extended
						.nav-content.bar-menu-color
							%ul.tabs.tabs-transparent
								%li.tab
									%a{:href => "#general-filter-tab"} todo
								%li.tab
									%a{:href => "#grupos-filter-tab"} gral
								%li.tab
									%a{:href => "#others-filter-tab"} prf/adm					
					#general-filter-tab.col.s12
						%br/
						%input#everyone{:name=>"everyone", :type=>"radio"}
							%label{:for=>"everyone"} <b>Todos</b>
						%h5 Usuarios						
						%p
							%input#alumnos-users{:name=>"usuarios-users", :type=>"checkbox"}
							%label{:for=>"alumnos-users"} <b>Alumnos</b>
							%input#profesores-users{:name=>"usuario-userss", :type=>"checkbox"}
							%label{:for=>"profesores-users",style:"margin-left: 1rem"} <b>Profesores</b>
							%input#admin-users{:name=>"usuarios-users", :type=>"checkbox"}
							%label{:for=>"admin-users",style:"margin-left: 1rem"} <b>Admnistrativos</b>
						%h5 Nivel
						%p
							%input#secundaria-users{:name=>"nivel-users", :type=>"checkbox"}
							%label{:for=>"secundaria-users"} <b>Secundaria</b>
							%input#bachillerato-users{:name=>"nivel-users", :type=>"checkbox"}
							%label{:for=>"bachillerato-users",style:"margin-left: 1rem"} <b>Bachillerato</b>
						%h5 Turno
						%p
							%input#matutino-users{:name=>"turno-users", :type=>"checkbox"}
							%label{:for=>"matutino-users"} <b>Matutino</b>
							%input#vespertino-users{:name=>"turno-users", :type=>"checkbox"}
							%label{:for=>"vespertino-users",style:"margin-left: 1rem"} <b>Vespertino</b>
					#grupos-filter-tab.col.s12
						%br/
						%p
							%input#todos-grupos{:name=>"todos-grupos", :type=>"radio"}
							%label{:for=>"todos-grupos"} <b>Ambos</b>
						%p
							%input#matutino-grupos{:name=>"turno-grupos", :type=>"checkbox"}
							%label{:for=>"matutino-grupos"} <b>Matutino</b>
							%input#vespertino-grupos{:name=>"turno-grupos", :type=>"checkbox"}
							%label{:for=>"vespertino-grupos",style:"margin-left: 1rem"} <b>Vespertino</b>
						%p
							%input#secundaria-grado{:name=>"nivel-grupos", :type=>"checkbox"}
							%label{:for=>"secundaria-grado"} <b>Secundaria</b>
							%input#bachillerato-grado{:name=>"nivel-grupos", :type=>"checkbox"}
							%label{:for=>"bachillerato-grado",style:"margin-left: 1rem"} <b>Bachillerato</b>
						%p{style:"margin-top: 2rem"}
							.input-field
								%select{multiple:""}
									%option{value:"", disabled:"", selected:""} Elija por grado
									%option{value:"1"} Primeros
									%option{value:"2"} Segundos
									%option{value:"3"} Terceros
								%label Grado
						%p{style:"margin-top: 2rem"}
							.input-field
								%select{multiple:""}
									%option{value:"", disabled:"", selected:""} Eliga por grupo
									%option{value:"1"} 6xxx
									%option{value:"2"} 6xxx
									%option{value:"3"} 6xxx
								%label Grupos
						.divider
						%p{style:"margin-top: 3rem"}
							.input-field.disabled
								%textarea#grupos-en-concreto.materialize-textarea{type:"text", placeholder:"Grupos individuales elegidos"}
								%label{for:"grupos-en-concreto"}Grupos elegidos
					#others-filter-tab.col.s12
						%br/
						%p
							%input#todos-others{:name=>"todos-others", :type=>"radio"}
							%label{:for=>"todos-others"} <b>Ambos</b>
						%p
							%input#matutino-others{:name=>"turno-others", :type=>"checkbox"}
							%label{:for=>"matutino-others"} <b>Matutino</b>
							%input#vespertino-others{:name=>"turno-others", :type=>"checkbox"}
							%label{:for=>"vespertino-others",style:"margin-left: 1rem"} <b>Vespertino</b>
						%p
							%input#secundaria-others{:name=>"nivel-others", :type=>"checkbox"}
							%label{:for=>"secundaria-others"} <b>Secundaria</b>
							%input#bachillerato-others{:name=>"nivel-others", :type=>"checkbox"}
							%label{:for=>"bachillerato-others",style:"margin-left: 1rem"} <b>Bachillerato</b>
						%h5 Profesores
						%p
							%input#all-teach{:name=>"prof-others", :type=>"radio"}
							%label{:for=>"all-teach"} <b>Todos</b>
							%input#seleccionar-teacher{:name=>"prof-others", :type=>"radio"}
							%label{:for=>"seleccionar-teacher",style:"margin-left: 1rem"} <b>Seleccionar</b>
						%p{style:"margin-top: 2rem"}
							.input-field
								%select{multiple:""}
									%option{value:"", disabled:"", selected:""} Elija a los profesores
									%option{value:"1"} Profesor A
									%option{value:"2"} Profesor B
									%option{value:"3"} Profesor C
									%option{value:"4"} Profesor D
								%label Profesor
						%h5 Adminsitradores						
						%p
							%input#all-admin{:name=>"admin-others", :type=>"radio"}
							%label{:for=>"all-admin"} <b>Todos</b>
							%input#seleccionar-admin{:name=>"admin-others", :type=>"radio"}
							%label{:for=>"seleccionar-admin",style:"margin-left: 1rem"} <b>Seleccionar</b>
						%p{style:"margin-top: 2rem"}
							.input-field
								%select{multiple:""}
									%option{value:"", disabled:"", selected:""} Elija a los administradores
									%option{value:"1"} Administradores A
									%option{value:"2"} Administradores B
									%option{value:"3"} Administradores C
									%option{value:"4"} Administradores D
								%label Administrador
				-#===========Contenido de la publuicacion==
				.col.s12.l7{:style=>"margin-top: 1em"}
					%h4.truncate.center-align Contenido
					.row
						.input-field.col.s12
							%input#titulo.validate{type:"text",:placeholder=>""}
							%label{for:"titulo", data:{success:"bien :)",error:"mal :("}} Título del comunicado
						.input-field.col.s12
							%textarea#contenido-comunicado.materialize-textarea{type:"text", placeholder:"Texto", data:{length:"400"}}
							%label{for:"contenido-comunicado.materialize-textarea"}Contenido
						.col.s12.input-field
							%i.material-icons.prefix today
							%input#fecha2.datepicker{type:"date"}
							%label{for:"fecha2"} Fecha de término

						.col.s12.input-field
							%i.material-icons.prefix link
							%input#links1.validate{type:"text"}
							%label{for:"links1"} Link 1
						.col.s12.input-field
							%i.material-icons.prefix link
							%input#links2.validate{type:"text"}
							%label{for:"links2"} Link 2
						.col.s12
							%form{action:"#"}
								.file-field.input-field
									.btn
										%span
											%i.material-icons attach_file
										%input{type:"file", multiple:""}
									.file-path-wrapper
										%input.file-path.validate{type:"text", placeholder:"Archivos a subir"}
								.file-field.input-field
									.btn
										%span
											%i.material-icons attach_file
										%input{type:"file", multiple:""}
									.file-path-wrapper
										%input.file-path.validate{type:"text", placeholder:"Archivos a subir"}
						.col.s12
							.chips.chips-initial
						.col.s12
						%h5 Seleccione la prioridad del comunicado
						%p
							%input.with-gap#normal{:name=>"tipo", :type=>"radio", :checked=>""}
							%label{:for=>"normal"} <b> Normal </b>
						%p
							%input.with-gap#urgente{:name=>"tipo", :type=>"radio"}
							%label{:for=>"urgente"} <b> URGENTE </b>

	-#=================================================================
	-#============================= Scripts ===============================
	-#=================================================================

	%script{type:"text/javascript", src:"https://code.jquery.com/jquery-3.1.1.min.js", integrity:"sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=", crossorigin:"anonymous"}
	%script{:type=>"text/javascript", :src=>"../../js/materialize.js"}
	%script{:type=>"text/javascript", :src=>"../../js/gliphy.js"}